apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "iqserver.fullname" . }}
  labels:
    app: {{ template "iqserver.fullname" . }}
spec:
  replicas: 1
  {{- if .Values.deploymentStrategy }}
  strategy:
{{ toYaml .Values.deploymentStrategy | indent 4 }}
  {{- end }}
  selector:
    matchLabels:
      app: {{ template "iqserver.fullname" . }}
  template:
    metadata:
      labels:
        app: {{ template "iqserver.fullname" . }}
    spec:
      {{- if .Values.iq.imagePullSecret }}
      imagePullSecrets:
        - name: {{ template "iqserver.fullname" . }}-imagepull
      {{- end }}
      {{- if .Values.deployment.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.deployment.terminationGracePeriodSeconds }}
      {{- end }}
      containers:
      - name: {{ template "iqserver.fullname" . }}
        image: {{ .Values.iq.imageName }}
        env:
          - name: SONATYPE_INTERNAL_HOST_SYSTEM
            value: Operator
          - name: SONATYPE_WORK
            value: {{ .Values.iq.configYaml.sonatypeWork }}
          {{- toYaml .Values.iq.env | nindent 10 }}
        ports:
          - containerPort: {{ .Values.iq.applicationPort }}
        lifecycle:
          {{- if .Values.deployment.postStart.command }}
          postStart:
            exec:
              command: {{ .Values.deployment.postStart.command }}
          {{- end }}
        resources:
          limits:
            memory: {{ .Values.iq.memory }}
        volumeMounts:
          - mountPath: /sonatype-work
            name: nxiq-pv-data
          - mountPath: /var/log/nexus-iq-server
            name: nxiq-pv-log
          - mountPath: /etc/nexus-iq-server
            name: config-volume
          {{- if  .Values.iq.certificates }}
          - mountPath: /etc/nexus-iq-server/jks
            name: nxiq-pv-jks
          {{- end }}
          {{- if .Values.iq.licenseSecret }}
          - mountPath: /etc/nexus-iq-license
            name: license-volume
          {{- end }}
      {{- if (or .Values.initContainers .Values.iq.certificates) }}
      initContainers:
        {{- if .Values.iq.certificates }}
        - name: build-jks
          image: {{ .Values.iq.imageName }}
          command:
            - sh
            - '-c'
            - 'cd /certs; for c in *; do
                 keytool -import -alias "$c" -file "$c" -trustcacerts -noprompt
                   -storepass changeit -keystore /etc/nexus-iq-server/jks/keystore.jks;
               done;
               keytool -list -storepass changeit -keystore /etc/nexus-iq-server/jks/keystore.jks'
          volumeMounts:
            - mountPath: /certs
              name: certificates-volume
            - mountPath: /etc/nexus-iq-server/jks
              name: nxiq-pv-jks
        {{- end }}
        {{- if .Values.initContainers }}
        {{ toYaml .Values.initContainers | nindent 8 }}
        {{- end }}
      {{- end}}
      volumes:
        - name: nxiq-pv-data
          persistentVolumeClaim:
            claimName: {{ template "iqserver.fullname" . }}-data
        - name: nxiq-pv-log
          persistentVolumeClaim:
            claimName: {{ template "iqserver.fullname" . }}-log
        - name: config-volume
          configMap:
            name: {{ template "iqserver.fullname" . }}
            items:
              - key: config.yml
                path: config.yml
  {{- if .Values.iq.licenseSecret }}
        - name: license-volume
          secret:
            secretName: {{ template "iqserver.fullname" . }}-license
  {{- end }}
  {{- if .Values.iq.certificates }}
        - name: certificates-volume
          configMap:
            name: {{ template "iqserver.fullname" . }}-certificates
        - name: nxiq-pv-jks
          persistentVolumeClaim:
            claimName: {{ template "iqserver.fullname" . }}-jks
  {{- end }}
